body {
  color: #000000;
  line-height: 1.6;
  margin: 0;
  font-size: 14px;
  font-family: "Varela Round", sans-serif; }

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0; }

/* Container */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

/*Header*/
.header {
  border-bottom: 1px solid #dcdcdc; }

.header_inner {
  padding-top: 10px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header_contact:before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  background: #f9fafd;
  position: absolute;
  left: 0;
  z-index: -1; }

.li_header {
  display: inline-block; }

ul.contacts {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.contacts a {
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  display: block;
  color: #000;
  text-align: center;
  padding: 8px;
  text-decoration: none; }

.header_contact {
  height: 45px; }

/*Nav*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }

.nav_link {
  display: block;
  padding: 0 14px;
  position: relative;
  color: #3a3a3a;
  text-decoration: none;
  -webkit-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
  font-weight: bold; }

.nav_link:hover {
  text-decoration: none;
  color: #2355da; }

.nav_link.active:after {
  opacity: 1; }

.nav_link.active {
  color: #2355da; }

i {
  padding-left: 3px; }

/*Button*/
.btn_info {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #2355da;
  border: 2px solid #2355da !important;
  line-height: 3.2em; }

.btn_call {
  margin-left: 5px;
  display: inline-block;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #4de55c;
  border: 2px solid #4de55c !important;
  line-height: 3.2em; }

.btn_info:hover {
  color: white;
  background: #2355da; }

.btn_call:hover {
  color: white;
  background: #4de55c; }

/*Section*/
.section_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.device {
  width: 50%;
  padding: 10px; }

.device_img {
  padding: 45px; }

.section_title {
  width: 50%;
  vertical-align: middle;
  padding: 10px; }
  .section_title p {
    padding-top: 23%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    font-family: "Montserrat", sans-serif; }

/*Section We Love*/
.section--welove {
  background-color: #f9fafd; }

.with_content {
  padding: 50px 0; }

.section_inner {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section_heading {
  width: 100%;
  margin: 0 0 22.4px; }
  .section_heading h3 {
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat", sans-serif; }

.section_text p {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

/*Button About Us*/
.button_about {
  padding-top: 70px; }

.btn_about {
  font-family: "Montserrat", sans-serif;
  fill: #fff;
  color: #fff;
  background-color: #3425f4;
  border-radius: 50px;
  padding: 15px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  font-size: 16px; }

.btn_about:hover {
  color: #3425f4;
  background: #fff;
  border: #3425f4 solid 1px; }

/*Section--how_we*/
.section--how_we {
  width: 100%;
  height: 290px;
  background: url(../img/blue_img-2.png) no-repeat;
  background-size: cover;
  margin: 0; }

.section_head {
  width: 100%;
  padding: 69px 0 21px; }
  .section_head h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Archivo Black", sans-serif; }

.text_how_we {
  width: 1200px;
  text-align: center;
  color: #ffffff;
  line-height: 1.8; }
