body {
  color: #000000;
  line-height: 1.6;
  margin: 0;
  font-size: 14px;
  font-family: "Varela Round", sans-serif; }

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/* Container */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

/*Header*/
.header {
  border-bottom: 1px solid #dcdcdc; }

.header_inner {
  padding-top: 10px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header_contact:before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  background: #f9fafd;
  position: absolute;
  left: 0;
  z-index: -1; }

.li_header {
  display: inline-block; }

ul.contacts {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.contacts a {
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  display: block;
  color: #000;
  text-align: center;
  padding: 8px;
  text-decoration: none; }

.header_contact {
  height: 45px; }

/*Nav*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }

.nav_link {
  display: block;
  padding: 0 14px;
  position: relative;
  color: #3a3a3a;
  text-decoration: none;
  -webkit-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
  font-weight: bold; }

.nav_link:hover {
  text-decoration: none;
  color: #2355da; }

.nav_link.active:after {
  opacity: 1; }

.nav_link.active {
  color: #2355da; }

i {
  padding-left: 3px; }

/*Button*/
.btn_info {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #2355da;
  border: 2px solid #2355da !important;
  line-height: 3.2em; }

.btn_call {
  margin-left: 5px;
  display: inline-block;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #4de55c;
  border: 2px solid #4de55c !important;
  line-height: 3.2em; }

.btn_info:hover {
  color: white;
  background: #2355da; }

.btn_call:hover {
  color: white;
  background: #4de55c; }
