body {
  color: #000000;
  line-height: 1.6;
  margin: 0;
  font-size: 14px;
  font-family: "Varela Round", sans-serif; }

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/* Container */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

/*Header*/
.header {
  border-bottom: 1px solid #dcdcdc; }

.header_inner {
  padding-top: 10px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header_contact:before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  background: #f9fafd;
  position: absolute;
  left: 0;
  z-index: -1; }

.li_header {
  display: inline-block; }

ul.contacts {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.contacts a {
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  display: block;
  color: #000;
  text-align: center;
  padding: 8px;
  text-decoration: none; }

.header_contact {
  height: 45px; }

/*Nav*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }

.nav_link {
  display: block;
  padding: 0 14px;
  position: relative;
  color: #3a3a3a;
  text-decoration: none;
  -webkit-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
  font-weight: bold; }

.nav_link:hover {
  text-decoration: none;
  color: #2355da; }

.nav_link.active:after {
  opacity: 1; }

.nav_link.active {
  color: #2355da; }

i {
  padding-left: 3px; }

/*Button*/
.btn_info {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #2355da;
  border: 2px solid #2355da !important;
  line-height: 3.2em; }

.btn_call {
  margin-left: 5px;
  display: inline-block;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #4de55c;
  border: 2px solid #4de55c !important;
  line-height: 3.2em; }

.btn_info:hover {
  color: white;
  background: #2355da; }

.btn_call:hover {
  color: white;
  background: #4de55c; }

/*Section*/
.section_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.device {
  width: 50%;
  padding: 10px; }

.device_img {
  padding: 45px; }

.section_title {
  width: 50%;
  vertical-align: middle;
  padding: 10px; }
  .section_title p {
    padding-top: 23%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    font-family: "Montserrat", sans-serif; }

/*Section We Love*/
.section--welove {
  background-color: #f9fafd; }

.with_content {
  padding: 50px 0; }

.section_inner {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section_heading {
  width: 100%;
  margin: 0 0 22.4px; }
  .section_heading h3 {
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat", sans-serif; }

.section_text p {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

/*Button About Us*/
.button_about {
  padding-top: 70px; }

.btn_about {
  font-family: "Montserrat", sans-serif;
  fill: #fff;
  color: #fff;
  background-color: #3425f4;
  border-radius: 50px;
  padding: 15px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  font-size: 16px; }

.btn_about:hover {
  color: #3425f4;
  background: #fff;
  border: #3425f4 solid 1px; }

/*Section--how_we*/
.section--how_we {
  width: 100%;
  height: 290px;
  background: url(../img/blue_img-2.png) no-repeat;
  background-size: cover;
  margin: 0; }

.section_head {
  width: 100%;
  padding: 69px 0 21px; }
  .section_head h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Archivo Black", sans-serif; }

.text_how_we {
  width: 1200px;
  text-align: center;
  color: #ffffff;
  line-height: 1.8; }

/*Services*/
.section--services {
  padding: 75px 0; }

.services_suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .services_suptitle h2 {
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 700; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 0; }

.services_item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  padding-left: 70px;
  margin: 20px;
  padding-right: 10px;
  position: relative; }

.services_icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.services_title {
  margin: 0 0 20px; }
  .services_title h3 {
    font-size: 22px;
    font-family: "Varela Round", sans-serif; }

.services_text {
  color: #545454; }

.link_services {
  color: #2355da; }

.link_services:hover {
  color: #545454; }

/*Section_partner*/
.section_partner {
  background: #f9fafd;
  padding: 75px 0; }

.partner_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .partner_title h3 {
    font-size: 42px;
    font-family: "Poppins", sans-serif; }

.partner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.partner_item {
  padding-top: 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 1 0;
  flex: 1 1 1 1 0;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.partner_btn {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.partner_btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc; }

.partner_btn--prev {
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.partner_btn--next {
  right: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*Portfolio*/
.section_portfolio {
  padding: 100px 0; }

.portfolio_works {
  padding: 35px 0 0; }

.portfolio_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase; }

.portfolio_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.portfolio_work {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2px; }

/*Button Chech Out*/
.button_check-out {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn_chek-out {
  font-family: "Montserrat", sans-serif;
  fill: #fff;
  color: #fff;
  background-color: #2185f5;
  border-radius: 50px;
  padding: 10px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  font-size: 16px; }
  .btn_chek-out i {
    padding-left: 5px; }

.btn_chek-out:hover {
  color: #f19410;
  background: #fff;
  border: #f19410 solid 1px; }

/*Banner*/
.banner {
  background: #2185f5;
  padding: 40px 0; }

.img_banner {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*Banner Button*/
.banner_arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.banner_btn {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.banner_btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc; }

.banner_btn--prev {
  left: 30px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.banner_btn--next {
  right: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*Follow*/
.section_follow {
  display: block;
  background: #f9fafd;
  padding: 75px 0; }

.follow_title {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px; }

.follow_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 0 0; }

.follow_item {
  width: 24%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px #fff;
  box-shadow: 0px 0px 10px 0px #fff; }
  .follow_item .follow_content {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.5);
    padding: 20px; }
  .follow_item h4 {
    text-align: center;
    font-size: 21px;
    font-family: "Varela Round", sans-serif;
    margin: 0 0 20px;
    font-weight: 700; }
  .follow_item p {
    text-align: center;
    color: #7a7a7a;
    line-height: 1.8; }

.follow_head {
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif; }

.follow_title {
  text-align: center; }
  .follow_title h4 {
    font-size: 30px;
    font-family: "Varela Round", sans-serif;
    margin: 0 0 20px;
    color: #3a3a3a;
    font-weight: 700; }

.follow_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px; }

.follow_inner--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 60px; }
  .follow_inner--row .follow_content {
    padding: 30px; }
  .follow_inner--row .follow_item {
    width: 33.3%;
    -webkit-box-shadow: none;
    box-shadow: none; }

/*Top Ranking*/
.ranking_title {
  padding: 75px 0 0; }
  .ranking_title h3 {
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    text-align: center; }

.ranking_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 75px; }

.ranking_item {
  width: 25%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px; }

/*Reviews*/
.section_reviews {
  padding: 50px 0;
  background: #2355da;
  width: 100%; }

.reviews {
  background: #fff;
  padding: 30px 0;
  text-align: center; }

.reviews_photo img {
  border-radius: 45px; }

.reviews_title h3 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff; }

.reviews_text p {
  margin: 10px 0 20px;
  color: #808080; }

.reviews_author {
  color: #333333;
  text-transform: uppercase; }

.technology {
  margin: 0 0 15px;
  color: #777777; }

.technology:before {
  content: "";
  width: 30px;
  display: block;
  margin: 10px auto;
  border: 1px solid #d3d3d3; }

/*Keys*/
.section_keys {
  padding: 75px 0; }

.keys_suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .keys_suptitle h2 {
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 700; }

.keys_subtitle {
  text-align: center;
  padding: 20px 0 0;
  margin: 0 0 22.4px; }

.keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 0; }

.keys_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.case_item {
  width: 30%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  padding: 10px;
  margin: 10px;
  position: relative; }

.keys_item {
  padding-left: 85px; }

.keys_icon {
  padding-top: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.keys_title h3 {
  font-size: 21px;
  font-family: "Varela Round", sans-serif;
  margin: 0 0 20px;
  font-weight: 700;
  line-height: 1.6; }

.keys_text {
  color: #7a7a7a; }

/*Industries*/
.section_industries {
  padding: 75px 0; }

.industries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.industries_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 20px; }

.industries_item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1 1 0;
  flex: 1 1 1 1 0;
  background-color: #f9fafd;
  padding: 20px;
  margin: 5px;
  width: 100%; }

.industries_item:hover {
  background: #afafb2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3s; }

.industries_suptitle h3 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  text-align: center; }

.industries_subtitle {
  padding: 20px 0 0;
  margin: 0 0 22.4px; }
  .industries_subtitle h4 {
    font-size: 14px;
    text-align: center; }

.industries_description h4 {
  font-size: 21px;
  font-weight: 700;
  margin: 5px 0 20px; }
