$width: 100%;
$family_Varela: "Varela Round", sans-serif;
$family_Montserrat: "Montserrat", sans-serif;
$family_Archivo: "Archivo Black", sans-serif;
$family_Poppins: "Poppins", sans-serif;

body {
  color: #000000;
  line-height: 1.6;
  margin: 0;
  font-size: 14px;
  font-family: $family_Varela;
}
*,
*::before,
*:after {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Container */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
/*Header*/
.header {
  border-bottom: 1px solid #dcdcdc;
}
.header_inner {
  padding-top: 10px;
  height: 95px;
  display: flex;
  vertical-align: top;
  justify-content: space-between;
  align-items: center;
}

.header_contact:before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  background: #f9fafd;
  position: absolute;
  left: 0;
  z-index: -1;
}
.li_header {
  display: inline-block;
}
ul.contacts {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.contacts a {
  font-size: 14px;
  font-family: $family_Varela;
  display: block;
  color: #000;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.header_contact {
  height: 45px;
}
/*Nav*/
.nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.nav_link {
  display: block;
  padding: 0 14px;
  position: relative;
  color: #3a3a3a;
  text-decoration: none;
  transition: opacity 2s linear;
  font-weight: bold;
}
.nav_link:hover {
  text-decoration: none;
  color: #2355da;
}
.nav_link.active:after {
  opacity: 1;
}
.nav_link.active {
  color: #2355da;
}
i {
  padding-left: 3px;
}

/*Button*/
.btn_info {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important ;
  color: #2355da;
  border: 2px solid #2355da !important;
  line-height: 3.2em;
}
.btn_call {
  margin-left: 5px;
  display: inline-block;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px !important;
  color: #4de55c;
  border: 2px solid #4de55c !important;
  line-height: 3.2em;
}
.btn_info:hover {
  color: white;
  background: #2355da;
}
.btn_call:hover {
  color: white;
  background: #4de55c;
}
/*Section*/

.section_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.device {
  width: 50%;
  padding: 10px;
}
.device_img {
  padding: 45px;
}
.section_title {
  width: 50%;
  vertical-align: middle;
  padding: 10px;
  p {
    padding-top: 23%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    font-family: $family_Montserrat;
  }
}
/*Section We Love*/
.section--welove {
  background-color: #f9fafd;
}
.with_content {
  padding: 50px 0;
}
.section_inner {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.section_heading {
  width: 100%;
  margin: 0 0 22.4px;
  h3 {
    text-align: center;
    font-size: 50px;
    font-family: $family_Montserrat;
  }
}
.section_text {
  p {
    font-family: $family_Montserrat;
    text-align: center;
  }
}
/*Button About Us*/
.button_about {
  padding-top: 70px;
}
.btn_about {
  font-family: $family_Montserrat;
  fill: #fff;
  color: #fff;
  background-color: #3425f4;
  border-radius: 50px;
  padding: 15px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  font-size: 16px;
}
.btn_about:hover {
  color: #3425f4;
  background: #fff;
  border: #3425f4 solid 1px;
}
/*Section--how_we*/
.section--how_we {
  width: 100%;
  height: 290px;
  background: url(../img/blue_img-2.png) no-repeat;
  background-size: cover;
  margin: 0;
}
.section_head {
  width: 100%;
  padding: 69px 0 21px;

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    font-family: $family_Archivo;
  }
}
.text_how_we {
  width: 1200px;
  text-align: center;
  color: #ffffff;
  line-height: 1.8;
}
/*Services*/
.section--services {
  padding: 75px 0;
}
.services_suptitle {
  display: flex;
  justify-content: center;
  width: 100%;
  h2 {
    font-size: 42px;
    font-family: $family_Poppins;
    font-weight: 700;
  }
}
.services {
  display: flex;
  padding: 25px 0 0;
}
.services_item {
  flex: 1 1 0;
  padding-left: 70px;
  margin: 20px;
  padding-right: 10px;
  position: relative;
}
.services_icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.services_title {
  margin: 0 0 20px;
  h3 {
    font-size: 22px;
    font-family: $family_Varela;
  }
}
.services_text {
  color: #545454;
}
/*Section_partner*/
.section_partner {
  background: #f9fafd;
  padding: 75px 0;
}
.partner_title {
  display: flex;
  justify-content: center;
  h3 {
    font-size: 42px;
    font-family: $family_Poppins;
  }
}
.partner {
  position: relative;
  display: flex;
  justify-content: center;
}
.partner_item {
  padding-top: 25px;
  flex: 1 1 1 1 0;
  justify-content: space-around;
}
.partner_btn {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.partner_btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.partner_btn--prev {
  left: 0;
  transform: rotate(-45deg);
}

.partner_btn--next {
  right: 0;
  transform: rotate(135deg);
}
/*Portfolio*/
.section_portfolio {
  padding: 100px 0;
}
.portfolio_works {
  padding: 35px 0 0;
}
.portfolio_title {
  display: flex;
  justify-content: center;
  font-family: $family_Poppins;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
}
.portfolio_item {
  display: flex;
}
.portfolio_work {
  flex: 1 0;
  justify-content: space-between;
  margin: 2px;
}
/*Button Chech Out*/
.button_check-out {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.btn_chek-out {
  font-family: $family_Montserrat;
  fill: #fff;
  color: #fff;
  background-color: #2185f5;
  border-radius: 50px;
  padding: 10px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  font-size: 16px;
  i {
    padding-left: 5px;
  }
}
.btn_chek-out:hover {
  color: #f19410;
  background: #fff;
  border: #f19410 solid 1px;
}
/*Banner*/
.banner {
  background: #2185f5;
  padding: 40px 0;
}
.img_banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Banner Button*/
.banner_arrow {
  position: relative;
  display: flex;
  justify-content: center;
}
.banner_btn {
  display: block;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.banner_btn:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.banner_btn--prev {
  left: 30px;
  transform: rotate(-45deg);
}

.banner_btn--next {
  right: 0;
  transform: rotate(135deg);
}
